name: release-please

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          # this is a built-in strategy in release-please, see "Action Inputs"
          # for more options
          release-type: go

      - if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        if: ${{ steps.release.outputs.release_created }}
        with:
          go-version-file: "go.mod"
          cache: true

      - name: install dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: sudo apt-get install -y libseccomp-dev pkg-config

      - name: build binaries
        if: ${{ steps.release.outputs.release_created }}
        run: |
          ./build.sh
          mv cuandari cuandari-"${{ env.RELEASE_NAME }}"-linux-x64
          sha256sum cuandari-"${{ env.RELEASE_NAME }}"-linux-x64 >> sha256sums.txt

      - name: upload release assets
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload "${{ env.RELEASE_NAME }}" cuandari-"${{ env.RELEASE_NAME }}"-linux-x64 sha256sums.txt
